.notification-good {
    color: green;
    background-color: grey;
    border-width: medium;
    border-radius: 15px;
    border-style: solid;
}

.notification-error {
    color: red;
    background-color: grey;
    border-width: medium;
    border-radius: 15px;
    border-style: solid;
}

.notification-:empty{
    display:none
}